.card {
  /* width: 30rem; */
  color: black;
  box-shadow: 1px 7px 16px 0px #626262;
}

.card .text-arriba {
  font-size: 15px;
}
.card .text-abajo {
  font-size: 14px;
}
.card span {
  font-size: 25px;
}

@media (min-width: 768px) {
  /* .card-clima {
    width: 100%;
  } */
  .card span {
    font-size: 30px;
  }
  .card .text-arriba {
    font-size: 25px;
  }
  .card .text-abajo {
    font-size: 24px;
  }
  .card img {
    height: 210px;
  }
}
